@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

#container {
    position: relative;

    background-image: url('images/target001.png');
    background-size: 100% 100%;
    background-color: white;
    
    height: 100vh;
}

.box {
    position: absolute;
    
    background-color: yellow;
    background-image: url('images/target001.png');
    background-size: 100% 100%;

    left: 50%;
    top: 50%;
    
    width: 200px;
    height: 100px;

    transform: translate(-50%, -50%);
}