@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@font-face {
    font-family: 'Ultima';
    src: url('../ex004/fonts/ferrum.otf') format('opentype'), url('../ex004/fonts/ferrum.otf') format('truetype');
}
:root {
    --color001: #33093C;
    --color002: #0A0933;
    --color003: #414175;
    --color004: #3F23E4;
    --color005: #968200;
    --color006: #0a0933a2;
    --font001: 'Ultima', Times, sans-serif;
    --font002: 'EB Garamond', Times, sans-serif;
    --font003: 'Fira Sans', Times, sans-serif;
    --font004: 'Cambria', Times, sans-serif;
}
main {
    text-align: justify;
    margin: auto;
    padding: 20px;
    min-width: 280px;
    max-width: 750px;
    width: 80%;
}
nav {
    width: min-content;
    margin: auto;
}
a {
    text-decoration: none;
}
p {
    text-indent: 10px;
    line-height: 25px;
}
#main-title {
    font: normal 400 3em var(--font001);
    color: var(--color001);
    text-indent: 5px;
}
.title {
    font: normal 400 2em var(--font002);
    color: var(--color002);
    margin: 25px auto ;
}
.example-title {
    font: normal 400 2.3em var(--font004);
    text-align: justify;
    margin-top: 30px;
    text-shadow: 2px 2px 0px var(--color006);

}
.text {
    font: normal 400 1em var(--font003);
}
.boxlink {
    font: normal 300 1.5em var(--font003);
    border: 5px ridge var(--color003);
    padding: 15px;
    margin: 50px auto 25px auto;
    width: min-content;
    height: min-content;
    color: var(--color003);
    box-shadow: 2px 2px 2px var(--color006);
    text-shadow: 1.5px 1.5px 1px var(--color006);
}
.boxlink:hover {
    font: italic 300 1.5em var(--font003);
    border: 5px ridge var(--color004);
    padding: 15px;
    margin: 50px auto 25px auto;
    width: min-content;
    height: min-content;
    color: var(--color004);
    box-shadow: 1.5px 1.5px 1.5px var(--color006);
    text-shadow: 1.5px 1.5px 1px var(--color006);
}
.box {
    font: normal 300 1em var(--font003);
    border: 5px solid var(--color005);
    border-radius: 2px;
    box-shadow: 3px 3px 5px var(--color006);
    padding: 10px;
    width: 300px;
    margin: auto;

}
main.text {
    text-indent: 0px;
}
main.box {
    text-indent: 0px;
}
